.wrapper {
  display: flex;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: rgb(238, 29, 29);
}

#image {
  border-radius: 25%;
  object-fit: contain;
  width: 60vh;
  max-width: 65%;
}

#text {
  object-fit:fill;
  background-color: rgb(255, 255, 255);
  text-align:justify;
  border-radius:50px;
  padding: 30px 2% 30px;

  h1 {
    font-family: "Georgia", serif;
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.3em;
    text-align: center;
  }
}


.first {
  background-color: rgb(224, 235, 243);
}

.second {
  background-color: #C2B9B0;
}

.third {
  background-color: rgb(255, 238, 238);
}

.fourth {
  background-color: #AFD275;
}

.fifth {
  background-color: #E7717D;
}
