<mat-sidenav-container class='app-drawer-container' [hasBackdrop]="false">
  <mat-sidenav #sidenav mode="side" [opened]="this.sidenavService.isOpened" style="position: fixed;">
    <mat-list>
      <app-nav-elem name="Angular" (click)="scrollTo(Anchor1)"></app-nav-elem>
      <app-nav-elem name="Typescript" (click)="scrollTo(Anchor2)"></app-nav-elem>
      <app-nav-elem name="HTML+CSS+JS" (click)="scrollTo(Anchor3)"></app-nav-elem>
      <app-nav-elem name="SASS" (click)="scrollTo(Anchor4)"></app-nav-elem>
      <app-nav-elem name="C#/Java/C++" (click)="scrollTo(Anchor5)"></app-nav-elem>
      <app-nav-elem name="SQL" (click)="scrollTo(Anchor6)"></app-nav-elem>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-item-overview #Anchor1 [status]=1 [title]="'Angular'" [image]="'assets/angular_logo.png'">
      Angular is my favourite front-end framework so far due to the vast array of useful functions I could use in my
      projects.
      I know I still have a lot to learn to truly master them all and I think it would be a fascinating endeavour if I
      could learn and use it in my professional career!
      I've built this website from the ground up in Angular.
    </app-item-overview>
    <app-item-overview #Anchor2 [status]=2 [title]="'Typescript'" [image]="'assets/typescript_logo.png'">
      For me Typescript is not only closely tied to the framework I mentioned above, but also a superset that makes
      Javascript feel more familiar since much of my programming experience comes down to strongly typed,
      object-oriented languages like Java, C# and C++.
    </app-item-overview>
    <app-item-overview #Anchor3 [status]=3 [title]="'HTML+CSS+JS'" [image]="'assets/html-css-js_logo.png'">
      These are given since I have already stated that I use Angular, however before I started using the framework I
      programmed a bunch of small websites that were using pure HTML,CSS and JS.
      I've written a few scripts using jQuery and PHP too but I don't feel like that's enough to mention it in my resume
      ¯\_(ツ)_/¯
    </app-item-overview>
    <app-item-overview #Anchor4 [status]=4 [title]="'SASS'" [image]="'assets/sass_logo.png'">
      My CSS just got a bunch of variables. Yay!
      I hope to use more of it's functions in my future projects.
    </app-item-overview>
    <app-item-overview #Anchor5 [status]=5 [title]="'C#/Java/C++'" [image]="'assets/java.png'">
      These are the languages I've spent the most time on since C++ is a kind of "main" programming language at my
      university.
      I've taken a bunch of courses to learn Java and C# (alongside .Net platform) since I found the OOP paradigm fairly
      intuitive (and thankfuly Typescript kind of lets me use it when working with Javascript).
      I'm also familiar with the basic design patterns and I'm looking forward to learn either Spring or ASP.Net Core framework on my journey to become a full-stack developer.
    </app-item-overview>
    <app-item-overview #Anchor6 [status]=6 [title]="'SQL'" [image]="'assets/sql.png'">
      Despite not being the most thriling of the bunch, I've used PostgreSQL alongside Python to design a database structure and implement an API to use it as a university project.
    </app-item-overview>
  </mat-sidenav-content>
</mat-sidenav-container>
