div {
  width: fit-content;

  a {
    display: flex;
    transition: all 0.3s ease;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    img {
      justify-content: center;
      width: 300px;
    }
  }
}
