$menu-height: 8vh;

.menu-height {
  height: $menu-height;
}

mat-toolbar {
  position: fixed;
  z-index: 3;
  height: $menu-height;
}

a {
  font-size: inherit;
  font-weight: 600;
  display: flex;
  align-items: center;

  :focus {
    outline: none;
  }
}

.active-link {
  background-color: rgb(226, 226, 226);
}

.circular-menu-button {
  height: $menu-height;
  width: $menu-height;
  outline: none;
}

mat-sidenav {
  position: fixed;
  z-index: 3;
  top: $menu-height;
  width: 50%;
}

.right {
  position: absolute;
  right: 0px;
}

.small-screen-host>a {
  height: $menu-height;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
